@keyframes textColorAnimation {

    0% {
        color: red;
    }
    30% {
        color: blue;
    }
    60% {
        color: green;
    }
    100% {
        color: red;
    }
}



@keyframes scaleEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotationEffect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes updownEffect {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
    
}

.animation-1 {
    animation: textColorAnimation 2s infinite;
}

.animation-2 {
    animation: scaleEffect 2s infinite;
}


.animation-3 {
    animation: rotationEffect 2s infinite;
}

.animation-4 {
    animation: updownEffect 2s infinite;
}

.big-text {
    font-size: 50px;
}   