body {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}